@model IEnumerable<SelectCategoryViewModel>
@{
    ViewData["Title"] = "Сhoose specialties";
}

<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>Сhoose specialties</h2>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li><a asp-area="Specialist" asp-controller="Profile" asp-action="Index">Profile</a> <i class="fa fa-angle-right"></i></li>
                                <li>Сhoose specialties</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jp_adp_main_section_wrapper">
    <div class="container">
        <div class="row">
            <form asp-area="Specialist" asp-controller="Profile" asp-action="EditSubCategories" method="post" class="col-12">
                <ul id="categories" class="form-group w-100 pl-0">
                    @foreach (var category in Model)
                    {
                        <li class="w-100">
                            @category.Category.DescriptionRU
                            <ul class="w-100 pl-0">

                                @foreach (var subCategory in category.SelectSubCategory)
                                {
                                    <li class="d-flex align-items-center w-100 pl-0">
                                        <input type="checkbox" name="subCategoriesId" id="@subCategory.SubCategory.Id" value="@subCategory.SubCategory.Id" @(subCategory.Selected ? "checked" : "") hidden />
                                        <label class="w-100 m-0" for="@subCategory.SubCategory.Id">@subCategory.SubCategory.DescriptionRU</label>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
                <div class="form-group">
                    <button class="jp_btn_default" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/tree-view/jquery.treeView.js"></script>
    <script>
        $('#categories').treeView();
    </script>
}
