@model Specialist
@{
    ViewData["Title"] = "Profile";
}

<div class="jp_adp_main_section_wrapper">
    <div class="container">
        <div class="row">
            <div class="my-3">
                <partial name="_ProfileNavigation" />
            </div>

            <div class="col-12">
                @if (TempData.ContainsKey("Status"))
                {
                    <div class="alert alert-info w-100" role="alert">
                        @TempData["Status"]
                    </div>
                }
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-6">

                        <!-- Specialist card start -->
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <img src="~/@ViewData["ImageUrl"]" error-src="" alt="image"
                                     class="img-fluid img-rounded w-100" />
                                <a asp-area="Specialist" asp-controller="Profile" asp-action="UploadPortrait" class="my-1">
                                    Change photos
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4>@Model.Name @Model.Surname</h4>
                                <p>
                                    Rating 3,8 <a href="#">detail</a>
                                    <br>
                                    Reviews <small class="text-muted">no reviews yet</small>
                                    <br>
                                    <a href="#">Upload passport photo</a>
                                </p>
                            </div>
                        </div>
                        <!-- Specialist card end -->
                    </div>

                    <div class="col-12">

                        <!-- About myself start -->
                        <div class="list-group my-5">
                            <div class="list-group-item">
                                <div class="w-100">
                                    <h5 class="mb-1">About myself</h5>
                                    <p>Education and experience, briefly and in detail about yourself</p>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <h5>Education and work experience</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            @if ((Model.Educations == null && Model.Experiences == null) ||
                                     (Model.Educations?.Count() == 0 && Model.Experiences?.Count() == 0))
                                            {
                                                <a asp-area="Specialist" asp-controller="Profile" asp-action="EducationsAndExperience">Add</a>
                                                <br>
                                                <span class="text-muted">
                                                    Tell us about your education, experience and
                                                    achievements. Confirm them with documents. This will ensure that
                                                    customers are a true specialist.
                                                </span>
                                            }
                                            else
                                            {
                                                <a asp-area="Specialist" asp-controller="Profile" asp-action="EducationsAndExperience">Edit</a>
                                                <br>
                                                @if (Model.Educations?.Count() > 0)
                                                {
                                                    <h5>Educations</h5>
                                                    @foreach (var item in Model.Educations)
                                                    {
                                                        <span>
                                                            @item.StudyPlaceName  (@item.StartDate.ToShortDateString()@(item.EndDate.HasValue ? $" - {item.EndDate?.ToShortDateString()}" : ""))
                                                        </span>
                                                        <br>
                                                    }
                                                }
                                                @if (Model.Experiences?.Count() > 0)
                                                {
                                                    <br>
                                                    <h5>Experiences</h5>
                                                    @foreach (var item in Model.Experiences)
                                                    {
                                                        <span>
                                                            @item.CompanyName  (@item.StartDate.ToShortDateString()@(item.EndDate.HasValue ? $"- {item.EndDate?.ToShortDateString()}" : ""))
                                                        </span>
                                                        <br>
                                                    }
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <h5>About</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            @if (string.IsNullOrWhiteSpace(Model.About))
                                            {
                                                <a asp-area="Specialist" asp-controller="Profile" asp-action="EditAbout">Add</a>
                                                <br>
                                                <span class="text-muted">
                                                    Tell us more about yourself so that customers know
                                                    you better. What orders are you interested in? What is the peculiarity
                                                    of your approach to work? This information will help the customer make a
                                                    choice.
                                                </span>
                                            }
                                            else
                                            {
                                                <a asp-area="Specialist" asp-controller="Profile" asp-action="EditAbout">Edit</a>
                                                <br>
                                                <span>
                                                    @Model.About
                                                </span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- About myself end -->
                        <!-- Region and addresses start -->
                        <div class="list-group my-5">
                            <div class="list-group-item">
                                <div class="w-100">
                                    <h5 class="mb-1">Region and addresses</h5>
                                    <p>Where is it easy for you to work<p>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <h5>Whete can meet</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <a asp-area="Specialist" asp-controller="Profile" asp-action="EditWhereCanMeet">Edit</a>
                                            @foreach (var point in Model.WhereCanMeetList)
                                            {
                                                <br>
                                                <span>@point.WhereCanMeet.Description</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <h5>Where can go</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <a asp-area="Specialist" asp-controller="Profile" asp-action="EditWhereCanGo">Edit</a>
                                            @foreach (var point in Model.WhereCanGoList)
                                            {
                                                <br>
                                                <span>@point.WhereCanGo.Description</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <h5>City</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <a asp-area="Specialist" asp-controller="Profile" asp-action="EditCity">Edit</a>
                                            <br>
                                            <span>@Model.City.Name</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Region and addresses end -->
                        <!-- Specialties start -->
                        <div class="list-group my-5">
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <h5>Specialties</h5>
                                    </div>
                                    <div class="col-10">
                                        <a asp-area="Specialist" asp-controller="Profile" asp-action="EditSubCategories">Add or remove</a>
                                        <br>
                                        @foreach (var category in Model.SpecialistSubCategories.GroupBy(m => m.SubCategory.Category))
                                        {
                                            <br>
                                            <h5>@category.Key.DescriptionRU</h5>
                                            @foreach (var subCategory in category)
                                            {
                                                @subCategory.SubCategory.DescriptionRU <a asp-area="Specialist" asp-controller="Profile" asp-action="EditServices" asp-route-subCategoryId="@subCategory.SubCategoryId">Services and prices</a>
                                                <br>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Specialties end -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
