@using System.Globalization
@model OrderDetailsViewModel
@{
    var isRu = CultureInfo.CurrentCulture.Name == "ru-RU";
}

<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>Order</h2>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li>Home <i class="fa fa-angle-right"></i></li>
                                <li><a asp-area="" asp-controller="Order" asp-action="Index">Orders <i class="fa fa-angle-right"></i></a></li>
                                <li>Order details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jp_cp_profile_main_wrapper">
    <div id="app" class="container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="message-lists border">
                <a href="#" id="orderButton" class="message-single">
                    @*<div class="thumb">
                            <img src="~/media/specialistProfile/1709f23f-4cdb-41cd-b747-d7d7328f40cd.jpg" class="img-fluid" alt="">
                        </div>*@
                    <div class="body">
                        <h6 class="username">Order Overview</h6>
                        @*<span class="send-time">12 min</span>*@
                    </div>
                </a>
                <div class="message-search border-bottom">
                    <div class="p-2 d-flex align-items-center justify-content-between">
                        <strong>Получать отклики</strong>
                        <label class="switch m-0">
                            <input id="isActive" type="checkbox" @(Model.IsActive ? "checked" : "")>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <a href="#" id="chatButton" class="message-single">
                    <div class="thumb">
                        <img src="~/media/specialistProfile/1709f23f-4cdb-41cd-b747-d7d7328f40cd.jpg" error-src="" class="img-fluid" alt="">
                    </div>
                    <div class="body">
                        <h6 class="username">Laural K.</h6>
                        <span class="send-time">12 min</span>
                    </div>
                </a>
                <a href="#" class="message-single">
                    <div class="thumb">
                        <img src="~/media/specialistProfile/1709f23f-4cdb-41cd-b747-d7d7328f40cd.jpg" error-src="" class="img-fluid" alt="">
                    </div>
                    <div class="body">
                        <h6 class="username">Laural K.</h6>
                        <span class="send-time">12 min</span>
                    </div>
                </a>
                <a href="#" class="message-single">
                    <div class="thumb">
                        <img src="~/media/specialistProfile/1709f23f-4cdb-41cd-b747-d7d7328f40cd.jpg" error-src="" class="img-fluid" alt="">
                    </div>
                    <div class="body">
                        <h6 class="username">Laural K.</h6>
                        <span class="send-time">12 min</span>
                    </div>
                </a>
                <a href="#" class="message-single">
                    <div class="thumb">
                        <img src="~/media/specialistProfile/1709f23f-4cdb-41cd-b747-d7d7328f40cd.jpg" error-src="" class="img-fluid" alt="">
                    </div>
                    <div class="body">
                        <h6 class="username">Laural K.</h6>
                        <span class="send-time">12 min</span>
                    </div>
                </a>
                <a href="#" class="message-single">
                    <div class="thumb">
                        <img src="~/media/specialistProfile/1709f23f-4cdb-41cd-b747-d7d7328f40cd.jpg" error-src="" class="img-fluid" alt="">
                    </div>
                    <div class="body">
                        <h6 class="username">Laural K.</h6>
                        <span class="send-time">12 min</span>
                    </div>
                </a>
                <a href="#" class="message-single">
                    <div class="thumb">
                        <img src="~/media/specialistProfile/1709f23f-4cdb-41cd-b747-d7d7328f40cd.jpg" error-src="" class="img-fluid" alt="">
                    </div>
                    <div class="body">
                        <h6 class="username">Laural K.</h6>
                        <span class="send-time">12 min</span>
                    </div>
                </a>
                <a href="#" class="message-single">
                    <div class="thumb">
                        <img src="~/media/specialistProfile/1709f23f-4cdb-41cd-b747-d7d7328f40cd.jpg" error-src="" class="img-fluid" alt="">
                    </div>
                    <div class="body">
                        <h6 class="username">Laural K.</h6>
                        <span class="send-time">12 min</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-md-0 mt-3">
            <div id="orderContainer" class="jp_rightside_job_categories_wrapper jp_rightside_listing_single_wrapper">
                <div class="jp_rightside_job_categories_heading">
                    <h4>Job Overview</h4>
                </div>
                <div class="jp_jop_overview_img_wrapper">
                    <div class="jp_jop_overview_img">
                        <img order-state="@Model.State">
                    </div>
                </div>
                <div class="jp_job_listing_single_post_right_cont">
                    <div class="jp_job_listing_single_post_right_cont_wrapper">
                        <h4>@(isRu ? Model.Service.DescriptionRU : Model.Service.DescriptionAZ)</h4>
                        <p>@*bla bla...*@</p>
                    </div>
                </div>
                <div class="jp_listing_overview_list_outside_main_wrapper">
                    <div class="row mb-5">
                        <div class="jp_listing_overview_list_main_wrapper col-12">
                            <div class="jp_listing_list_icon">
                                <i class="fa"></i>
                            </div>
                            <div class="jp_listing_list_icon_cont_wrapper">
                                <ul>
                                    <li>Service: <span class="">@(isRu ? Model.Service.DescriptionRU : Model.Service.DescriptionAZ)</span></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="jp_listing_overview_list_main_wrapper col-md-6 col-12">
                            <div class="jp_listing_list_icon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="jp_listing_list_icon_cont_wrapper">
                                <ul>
                                    <li>Date Posted:</li>
                                    <li>@Model.Created.ToString()</li>
                                </ul>
                            </div>
                        </div>

                        <div class="jp_listing_overview_list_main_wrapper col-md-6 col-12">
                            <div class="jp_listing_list_icon">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="jp_listing_list_icon_cont_wrapper">
                                <ul>
                                    <li>@SharedLocalizer["salary"]:</li>
                                    <li>@Model.PriceMin @(Model.PriceMax.HasValue ? $" - {Model.PriceMax.Value}" : "") AZN / @(isRu ? Model.Measurement?.TextRU : Model.Measurement?.TextAZ)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    @if (!string.IsNullOrWhiteSpace(Model.Description))
                    {
                        <div class="jp_job_des">
                            <h2>Job Description</h2>
                            <p>
                                @Model.Description
                            </p>
                        </div>
                    }
                    @if (Model.MeetingPoint.Any())
                    {
                        <div class="jp_job_res">
                            <h2>@(isRu ? "Места встречи" : "Görüş yerləri")</h2>
                            <p>
                                <span>@Model.MeetingPoint?.First().Description</span>
                                @foreach (var point in Model.MeetingPoint.Skip(1))
                                {
                                    <span>, @point.Description</span>
                                }
                            </p>
                        </div>
                    }
                    @foreach (var answerOrder in Model.AnswerOrders.Select(m => m.Answer).GroupBy(m => m.Question))
                    {
                        <div class="jp_job_res">
                            <h2>@(isRu ? answerOrder.Key.TextRU : answerOrder.Key.TextAZ)</h2>
                            <ul>
                                @foreach (var answer in answerOrder)
                                {
                                    <li><i class="fa fa-caret-right"></i>&nbsp;&nbsp; @(isRu ? answer.TextRU : answer.TextAZ)</li>
                                }
                            </ul>
                        </div>
                    }
                    @foreach (var clientAnswer in Model.ClientAnswers)
                    {
                        <div class="jp_job_res">
                            <h2>@(isRu ? clientAnswer.Question.TextRU : clientAnswer.Question.TextAZ)</h2>
                            <p>@clientAnswer.Text</p>
                        </div>
                    }
                    <div class="jp_listing_right_bar_btn_wrapper mt-5">
                        <div class="jp_listing_right_bar_btn">
                            <ul class="mt-0">
                                <li class="mt-0">
                                    <a asp-action="Edit"
                                       asp-controller="Order"
                                       asp-area=""
                                       asp-route-id="@Model.Id">
                                        <i class="fa fa-plus-circle"></i> &nbsp;@SharedLocalizer["edit"]
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="chatContainer" style="display: none"  class="message-box">
                <div class="message-box-header">

                    <h5>carlos</h5>
                    <div class="navbar navbar-expand-sm drop">

                        <!-- Links -->
                        <ul class="navbar-nav">

                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#"><i class="fa fa-link"></i>&nbsp;&nbsp;Copy this link</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-tag"></i>&nbsp;&nbsp;Report</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-flag"></i>&nbsp;&nbsp;Hide</a>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="dashboard-conversation">
                    <li class="conversation in">
                        <div class="avater">
                            <img src="images/content/rc3.png" class="img-fluid" alt="">
                        </div>
                        <div class="message"><span>This is Photoshop's version  of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollici's version  of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. tudin, lorem quis </span></div>
                        <span class="send-time">2.32 am</span>
                    </li>
                    <li class="conversation out">
                        <div class="avater">
                            <img src="images/content/rc1.png" class="img-fluid" error-src="" alt="">
                        </div>
                        <div class="message"><span>This is Photoshop's version  of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollici's version  of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. tudin, lorem quis </span></div>
                        <span class="send-time">2.32 am</span>
                    </li>
                    <li class="conversation in">
                        <div class="avater">
                            <img src="images/content/rc3.png" error-src="" class="img-fluid" alt="">
                        </div>
                        <div class="message"><span>This is Photoshop's version  of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollici's version  of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. tudin, lorem quis </span></div>
                        <span class="send-time">2.34 am</span>
                    </li>
                    <li class="conversation out">
                        <div class="avater">
                            <img src="images/content/rc1.png" class="img-fluid" error-src="" alt="">
                        </div>
                        <div class="message"><span>This is Photoshop's version  of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollici's version  of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. tudin, lorem quis </span></div>
                        <span class="send-time">2.34 am</span>
                    </li>
                    <li class="conversation in">
                        <div class="avater">
                            <img src="images/content/rc3.png" class="img-fluid" alt="">
                        </div>
                        <div class="message"><span>This is Photoshop's version  of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollici's version  of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. tudin, lorem quis </span></div>
                        <span class="send-time">2.34 am</span>
                    </li>

                </ul>
                <div class="conversation-write-wrap">
                    <form action="#">
                        <textarea placeholder="Type a message"></textarea>
                        <label class="send-file">
                            <input type="file"><i class="fa fa-image"></i>
                        </label>
                        <label class="send-image">
                            <input type="file"><i class="fa fa-file-image-o"></i>
                        </label>

                        <button class="send-message"><i class="fa fa-location-arrow"></i></button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('#isActive').change(async function() {
            let input = $(this);
            let isActive = input.prop("checked");
            let result = await(await fetch(`@Url.Action("ChangeIsActiveOrder", "Order")?id=@Model.Id&isActive=${
                input.prop("checked")}`)).json();
            if (!result) {
                setTimeout(function() {
                        input.attr("checked", !isActive);
                    },
                    500);
            }
        });


        $('#orderButton').click(function(e) {
            e.preventDefault();
            $('#orderContainer').show();
            
        });

        $('#chatButton').click(function(e) {
            e.preventDefault();
            $('#orderContainer').hide();
            $('#chatContainer').show();
        });


    </script>
}