@using Careers.ViewModels.Spec
@model Careers.ViewModels.Spec.ListOfSpecialistsViewModel


<div class="jp_listing_sidebar_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_listing_heading_wrapper">
                    <h2>We found <span>@Model.Specialists.Count</span> Matches for you.</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                <form asp-controller="Specialist" asp-action="Specialists" method="post" id="main-form">
                    <input type="hidden" asp-for="IsEmpty" value="false" />
                    <input asp-for="@Model.Filter.Page" type="hidden" />

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_job_categories_wrapper">
                                <div class="jp_rightside_job_categories_heading">
                                    <h4>Location</h4>
                                </div>
                                <div class="jp_rightside_job_categories_content">
                                    <div class="handyman_sec1_wrapper">
                                        <div class="content">
                                            <div class="box">
                                                @for (int i = 0; i < Model.CitiesFilter.Count; i++)
                                                {
                                                    <input asp-for="@Model.CitiesFilter[i].Id" type="hidden">
                                                    <input asp-for="@Model.CitiesFilter[i].Name" type="hidden">
                                                    <p>
                                                        <input asp-for="@Model.CitiesFilter[i].Selected" type="checkbox">
                                                        <label asp-for="@Model.CitiesFilter[i].Selected">@Model.CitiesFilter[i].Name</label>
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
                                <div class="jp_rightside_job_categories_heading">
                                    <h4>Category &amp; Sub category</h4>
                                </div>
                                <div class="jp_rightside_job_categories_content">
                                    <div class="handyman_sec1_wrapper">
                                        <div class="content">
                                            <div class="box">
                                                <div class="gc_causes_select_box category-subcategory-margin">
                                                    <select asp-for="SelectedCategoryId" id="category"
                                                            asp-items="@Model.CategoriesFilter">
                                                    </select>
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                                @for (int i = 0; i < Model.SubCategoriesFilter.Count; i++)
                                                {
                                                    <input asp-for="@Model.SubCategoriesFilter[i].Id" type="hidden">
                                                    <input asp-for="@Model.SubCategoriesFilter[i].Name" type="hidden">
                                                    <p>
                                                        <input asp-for="@Model.SubCategoriesFilter[i].Selected" type="checkbox">
                                                        <label asp-for="@Model.SubCategoriesFilter[i].Selected">@Model.SubCategoriesFilter[i].Name</label>
                                                    </p>
                                                }
                                                @* <partial name="_SubCategoriesPartial" model="@Model.Category.SubCategories" />*@
                                            </div>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
                                <div class="jp_rightside_job_categories_heading">
                                    <h4>Services</h4>
                                </div>
                                <div class="jp_rightside_job_categories_content">
                                    <div class="handyman_sec1_wrapper">
                                        <div class="content">
                                            <div class="box">
                                                @for (int i = 0; i < Model.ServicesFilter.Count; i++)
                                                {
                                                    <input asp-for="@Model.ServicesFilter[i].Id" type="hidden">
                                                    <input asp-for="@Model.ServicesFilter[i].Name" type="hidden">
                                                    <p>
                                                        <input asp-for="@Model.ServicesFilter[i].Selected" type="checkbox">
                                                        <label asp-for="@Model.ServicesFilter[i].Selected">@Model.ServicesFilter[i].Name</label>
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
                                <div class="jp_rightside_job_categories_heading">
                                    <h4>Experience</h4>
                                </div>
                                <div class="jp_rightside_job_categories_content">
                                    <div class="handyman_sec1_wrapper">
                                        <div class="content">
                                            <div class="box">
                                                @for (int i = 0; i < Model.ExperienceFilter.Count; i++)
                                                {
                                                    <input asp-for="@Model.ExperienceFilter[i].Id" type="hidden">
                                                    <input asp-for="@Model.ExperienceFilter[i].Name" type="hidden">
                                                    <p>
                                                        <input asp-for="@Model.ExperienceFilter[i].Selected" type="checkbox" data-single="1">
                                                        <label asp-for="@Model.ExperienceFilter[i].Selected">@Model.ExperienceFilter[i].Name</label>
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
                                <div class="jp_rightside_job_categories_heading">
                                    <h4>Rating</h4>
                                </div>
                                <div class="jp_rightside_job_categories_content">
                                    <div class="handyman_sec1_wrapper">
                                        <div class="content">
                                            <div class="box">
                                                <div class="star-rating">
                                                    <span class="fa fa-star-o yes" data-rating="1"></span>
                                                    <span class="fa fa-star-o yes" data-rating="2"></span>
                                                    <span class="fa fa-star-o yes" data-rating="3"></span>
                                                    <span class="fa fa-star-o yes" data-rating="4"></span>
                                                    <span class="fa fa-star-o yes" data-rating="5"></span>
                                                    <input type="hidden" class="rating-value" asp-for="@Model.Filter.Rating">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
                                <div class="jp_rightside_job_categories_heading">
                                    <h4>Languages should know</h4>
                                </div>
                                <div class="jp_rightside_job_categories_content">
                                    <div class="handyman_sec1_wrapper">
                                        <div class="content">
                                            <div class="box">
                                                @for (int i = 0; i < Model.LanguagesFilter.Count; i++)
                                                {
                                                    <input asp-for="@Model.LanguagesFilter[i].Id" type="hidden">
                                                    <input asp-for="@Model.LanguagesFilter[i].Name" type="hidden">
                                                    <p>
                                                        <input asp-for="@Model.LanguagesFilter[i].Selected" type="checkbox">
                                                        <label asp-for="@Model.LanguagesFilter[i].Selected">@Model.LanguagesFilter[i].Name</label>
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                        <ul>
                                            <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*advertisement*@
                        @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="jp_add_resume_wrapper jp_job_location_wrapper">
                                    <div class="jp_add_resume_img_overlay"></div>
                                    <div class="jp_add_resume_cont">
                                        <img src="images/content/resume_logo.png" alt="logo">
                                        <h4>Get Best Matched Jobs On your Email. Add Resume NOW!</h4>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-plus-circle"></i> &nbsp;ADD RESUME</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </form>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_listing_tabs_wrapper my-head-in-specialist">

                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <h4>Fill more detailed order here</h4>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <a asp-controller="Order" asp-action="Create" class="btn btn-danger">Create Order</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-content">
                            <div id="list" class="tab-pane fade active in">
                                <div class="row" id="specialists-container">

                                    <partial name="_SpecialistsPartial" model="@(new SpecPartialViewModel{Specialists = Model.Specialists, ServicesFilter = Model.ServicesFilter})" />

                                    @if (Model.Specialists.Count >= Model.Filter.Page * 20)
                                    {
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 next20">
                                            <button type="button" id="next-button" class="btn btn-info">Next 20</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

