@model Careers.ViewModels.Spec.SpecialistViewModel

<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>Candidate profile</h2>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li>Home <i class="fa fa-angle-right"></i></li>
                                <li>Specialists <i class="fa fa-angle-right"></i></li>
                                <li>Candidate</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jp_cp_profile_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="jp_cp_left_side_wrapper">
                    <div class="jp_cp_left_pro_wallpaper">
                        <img src="~/@Model.ImagePath" error-src="" alt="profile">
                    </div>
                    <div class="jp_cp_rd_wrapper">
                        <ul>
                            <li><a href="#"><i class="fa fa-mail-forward"></i> &nbsp;Contact candidate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-md-0 mt-5">
                <div class="jp_cp_right_side_wrapper">
                    <div class="jp_cp_right_side_inner_wrapper">
                        <h2>PERSONAL DETAILS</h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="td-w25">Full Name</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">@Model.Name @Model.Surname @Model.FatherName</td>
                                </tr>
                                <tr>
                                    <td class="td-w25">City</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">@Model.CityName</td>
                                </tr>
                                <tr>
                                    <td class="td-w25">Phone</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">@Model.Phone</td>
                                </tr>
                                <tr>
                                    <td class="td-w25">Email</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">@Model.Email</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                @if (Model.Languages?.Count > 0)
                {
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="jp_cp_accor_heading_wrapper">
                                <h2>Languages</h2>
                                <p>
                                    @foreach (var lang in Model.Languages)
                                    {
                                        <span>@lang</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="jp_cp_accor_heading_wrapper">
                            <h2>About</h2>
                            <p class="specialist-description">@Model.About</p>
                        </div>
                    </div>

                    @if (Model.WhereCanMeetList.Count() > 0)
                    {
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="jp_cp_accor_heading_wrapper mt-0">
                                <h2>Where can meet</h2>
                                <p>
                                    <span>@Model.WhereCanMeetList.First().WhereCanMeet.Description</span>
                                    @foreach (var point in Model.WhereCanMeetList.Skip(1))
                                    {
                                        <span>, @point.WhereCanMeet.Description</span>
                                    }
                                </p>
                            </div>
                        </div>
                    }

                    @if (Model.WhereCanGoList.Count() > 0)
                    {
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="jp_cp_accor_heading_wrapper mt-0">
                                <h2>Where can go</h2>
                                <p>
                                    <span>@Model.WhereCanGoList.First().WhereCanGo.Description</span>
                                    @foreach (var point in Model.WhereCanGoList.Skip(1))
                                    {
                                        <span>, @point.WhereCanGo.Description</span>
                                    }
                                </p>
                            </div>
                        </div>
                    }

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="accordion_wrapper abt_page_2_wrapper">
                            <div class="panel-group" id="accordion_threeLeft">
                                @if (Model.Educations.Count > 0)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading bell">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree" aria-expanded="false">
                                                    EDUCATION
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwentyLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0;">
                                            <div class="panel-body">
                                                @foreach (var item in Model.Educations)
                                                {
                                                    <ul>
                                                        <li>
                                                            <p>
                                                                <b>@item.StudyPlaceName</b>,
                                                                <span>specialization - </span>
                                                                <i>@item.Specialization,</i>
                                                                <span>@item.StartDate.Year @(item.EndDate.HasValue ? $" - {item.EndDate.Value.Year} years" : "year").</span>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (Model.Experiences.Count > 0)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading bell">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree2" aria-expanded="false">
                                                    EXPERIENCE
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwentyLeftThree2" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                                            <div class="panel-body">
                                                @foreach (var item in Model.Experiences)
                                                {
                                                    <p>
                                                        <b>@item.CompanyName</b>,
                                                        <span>position - </span>
                                                        <i>@item.Position,</i>
                                                        <span>@item.StartDate.Year @(item.EndDate.HasValue ? $" - {item.EndDate.Value.Year} years" : "year").</span>
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>


                @if (Model.Works.Count() > 0)
                {
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="jp_cp_accor_heading_wrapper">
                                <h2>
                                    Works
                                </h2>
                                <div class="mt-5">
                                    <ul id="works">
                                        @foreach (var item in Model.Works)
                                        {
                                            <li>
                                                <a title="@item.Description" href="~/@item.ImagePath">
                                                    <img src="~/@item.ImagePath" height="150" />
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.SpecialistServices.Count > 0)
                {
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="jp_cp_accor_heading_wrapper">
                                <h2>Services</h2>

                                @foreach (var item in Model.SpecialistServices.GroupBy(m => m.Service.SubCategory))
                                {
                                    <div class="w-100 d-flex flex-column">
                                        <p class="header pb-0 w-100">@item.Key.DescriptionRU</p>
                                        @foreach (var service in item)
                                        {
                                            <div class="w-100 d-flex align-items-center justify-content-between">
                                                <p class="mt-0 pb-0">@service.Service.DescriptionRU</p>
                                                <p class="mt-0 pb-0">@service.PriceMin @(service.PriceMax.HasValue ? $" - {service.PriceMax.Value}" : "") / @service.Measurement.TextRU</p>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- client rivew wrapper start -->
<div class="client_rivew_wrapper pt-0">

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 main-section">

                <div class="section_heading3">
                    <h2>feedback</h2>
                </div>

                @if (Model.Reviews.Count == 0)
                {
                    <p>У специалиста нет отзывов.</p>
                }
                else
                {
                    int markCount = Model.Reviews.Count();
                    int avgMark = (int)(Model.Reviews.Average(m => m.Mark));
                    int m5 = (Model.Reviews.Count(m => m.Mark == 5) * 100) / markCount;
                    int m4 = (Model.Reviews.Count(m => m.Mark == 4) * 100) / markCount;
                    int m3 = (Model.Reviews.Count(m => m.Mark == 3) * 100) / markCount;
                    int m2 = (Model.Reviews.Count(m => m.Mark == 2) * 100) / markCount;
                    int m1 = (Model.Reviews.Count(m => m.Mark == 1) * 100) / markCount;

                    <div class="progress_box_Wrapper">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12 rating-part-left text-center">
                                <h1>@avgMark</h1>
                                @for (int i = 0; i < avgMark; i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                                @for (int i = 0; i < 5 - avgMark; i++)
                                {
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                }
                                <p>Average Rating</p>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@m5" aria-valuemin="0" aria-valuemax="100" style="width:@m5%"></div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@m4" aria-valuemin="0" aria-valuemax="100" style="width:@m4%"></div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@m3" aria-valuemin="0" aria-valuemax="100" style="width:@m3%"></div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@m2" aria-valuemin="0" aria-valuemax="100" style="width:@m2%"></div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@m1" aria-valuemin="0" aria-valuemax="100" style="width:@m1%"></div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 rating-part-right">
                                <div class="row">
                                    <div class="col-md-12">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span>@m5%</span>
                                    </div>
                                    <div class="col-md-12">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span>@m4%</span>
                                    </div>
                                    <div class="col-md-12">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span>@m3%</span>
                                    </div>
                                    <div class="col-md-12">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span>@m2%</span>
                                    </div>
                                    <div class="col-md-12">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span>@m1%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (Model.Reviews.Count > 0)
            {
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="review-section">
                        <div class="section_heading3">
                            <h2>Reviews</h2>
                        </div>
                        @foreach (var item in @Model.Reviews)
                        {
                            <div class="row rievew_Section_comment my-4">
                                <div class="col-lg-3 col-md-4 col-xs-4 review-part-left">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <img src="images/content/resume_img1.jpg" error-src="" alt="img">
                                        </div>
                                        <div class="col-md-6 col-sm-12 mt-md-0 mt-sm-3 client_reivew_img">
                                            <p>@item.DateTime.ToLocalTime()</p>
                                            <span><a href="#">@item.Order.Client.Name @item.Order.Client.Surname</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-xs-8 review-part-right">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            @for (int i = 0; i < item.Mark; i++)
                                            {
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            }
                                            @for (int i = 0; i < 5 - item.Mark; i++)
                                            {
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            }
                                            @*<input hidden="" value="@item.Mark" />*@
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <p>
                                                @item.Text
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- client rivew wrapper end -->

@section Scripts {
    <script src="~/lib/lightslider/js/lightslider.min.js"></script>
    <script src="~/lib/magnific-popup/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#works").lightSlider({
                keyPress: true,
                autoWidth: true,
                onSliderLoad: function () {
                    $('#works').magnificPopup({
                        delegate: 'a',
                        type: 'image',
                        gallery: {
                            enabled: true,
                            navigateByImgClick: true,
                            preload: [0, 1]
                        },
                        zoom: {
                            enabled: true,
                            duration: 300,
                            easing: 'ease-in-out',
                        }
                    });
                }
            });
        });
    </script>
}