@model Careers.ViewModels.Client.ClientViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
}

@foreach (var item in Model.Messages)
{
    <div class="alert alert-success alert-dismissible my-1 info-message" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @item
    </div>
}

<div class="container">
    <div class="row my-2 mt-5">
        <form method="post" asp-controller="Client" asp-action="Index" enctype="multipart/form-data">
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="@Model.ImageUrl" error-src="" class="mx-auto w-75 img-circle d-block" id="image-id" alt="avatar">
                <h6 id="file-name" class="mt-2">Upload a different photo</h6>
                <label class="custom-file">
                    <input type="file" name="Image" id="Image" class="custom-file-input">
                    <span class="custom-file-control btn btn-primary">Choose file</span>
                </label>
            </div>

            <div class="col-lg-8 order-lg-2">
                <div asp-validation-summary="All" class="text-danger"></div>

                <input type="hidden" asp-for="OldPhoneNumber" />
                <input type="hidden" asp-for="OldEmail" />
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" asp-for="Name"></label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" asp-for="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" asp-for="Surname"></label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" asp-for="Surname">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" asp-for="Email"></label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" asp-for="Email">
                        <input type="hidden" asp-for="EmailConfirmed">
                        @if (!Model.EmailConfirmed)
                        {
                            <span class="text-danger">Your email is not confirmed</span>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" asp-for="PhoneNumber"></label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" asp-for="PhoneNumber">
                        <input type="hidden" asp-for="PhoneConfirmed">
                        @if (!Model.PhoneConfirmed)
                        {
                            <span class="text-danger">Your phone number is not confirmed</span>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" asp-for="Gender"></label>
                    <div class="col-lg-9">
                        <select asp-for="Gender" class="form-control">
                            <option value="@null">Select...</option>
                            <option value="@true">Male</option>
                            <option value="@false">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label my-notification-label">Notifications</label>
                    <div class="col-lg-9 my-notification-radibuttons">
                        <div class="login_remember_box">
                            <label class="control control--checkbox">
                                <input asp-for="EmailNotifications" type="checkbox" class="form-check-input">
                                <label asp-for="EmailNotifications" class="form-check-label"></label>
                            </label>
                        </div>
                        <div class="login_remember_box">
                            <label class="control control--checkbox">
                                <input asp-for="SmsNotifications" type="checkbox" class="form-check-input">
                                <label asp-for="SmsNotifications" class="form-check-label"></label>
                            </label>
                        </div>
                    </div>
                </div>
                @*<div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label" asp-for="UserName"></label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" asp-for="UserName">
                        </div>
                    </div>*@
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" asp-for="OldPassword"></label>
                    <div class="col-lg-9">
                        <input class="form-control cleaner" asp-for="OldPassword" type="password" value="P@ssword123">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" asp-for="Password"></label>
                    <div class="col-lg-9">
                        <input class="form-control cleaner" type="password" asp-for="Password" value="P@ssword123">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" asp-for="ConfirmPassword"></label>
                    <div class="col-lg-9">
                        <input class="form-control cleaner" type="password" asp-for="ConfirmPassword" value="P@ssword123">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Reset">
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>

         function upload(file) {

            let data = new FormData();
            data.append('file', file);

            fetch('@Url.Action("GetImage", "Order")',
                {
                    method: 'POST',
                    body: data
                }).then(
                response => response.json() // if the response is a JSON object
            ).then(
                path => {
                    $('#image-id').attr('src', path);
                }
            ).catch(
                error => console.error(error)
            );
        };

        $("#Image").change(function () {
            upload($("input:file")[0].files[0]);
            if (this.value.length > 55) {
                document.getElementById("file-name").innerText = this.value.substr(this.value.length - 54);
            } else {
                document.getElementById("file-name").innerText = this.value;
            }
        });

        $(".cleaner").focus(function () {
            this.value = "";
        });
    </script>
}

