@model Specialist
@{
    ViewData["Title"] = "Profile";
}

<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jp_adp_main_section_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (TempData.ContainsKey("Status"))
                {
                    <div class="alert alert-info w-100" role="alert">
                        @TempData["Status"]
                    </div>
                }
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-12">

                        <!-- Specialist card start -->
                        <div class="row">
                            <div class="col-sm-6 col-md-2">
                                <div class="d-flex flex-column">
                                    <img src="~/@ViewData["ImageUrl"]" error-src="" alt="image"
                                         class="img-fluid img-rounded w-100" />
                                    <a asp-area="SpecialistArea" 
                                       asp-controller="Profile" 
                                       asp-action="UploadPortrait" 
                                       class="btn btn-sm btn-primary my-1">
                                        Upload...
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-10">
                                <h4 class="header w-100">@Model.Name @Model.Surname</h4>
                                <p class="w-100">
                                    <p class="my-1">Rating 3,8 <a href="#">detail</a></p>
                                    <p class="my-1">Reviews <small class="text-muted">no reviews yet</small></p>
                                    <a href="#" class="btn btn-sm btn-primary my-1">Upload passport photo</a>
                                </p>
                            </div>
                        </div>
                        <!-- Specialist card end -->

                    </div>

                    <div class="col-12">

                        <!-- About myself start -->
                        <div class="list-group my-5">
                            <div class="list-group-item">
                                <div class="w-100">
                                    <h5 class="header mb-1">About myself</h5>
                                    <p>Education and experience, briefly and in detail about yourself</p>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <h5 class="header">Education and work experience</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            @if ((Model.Educations == null && Model.Experiences == null) ||
                                  (Model.Educations?.Count() == 0 && Model.Experiences?.Count() == 0))
                                            {
                                                <a asp-area="SpecialistArea"
                                                   asp-controller="Profile"
                                                   asp-action="EducationsAndExperience"
                                                   class="btn btn-sm btn-primary">
                                                    <i class="fa fa-plus"></i> Add
                                                </a>
                                                <br>
                                                <span class="text-muted">
                                                    Tell us about your education, experience and
                                                    achievements. Confirm them with documents. This will ensure that
                                                    customers are a true specialist.
                                                </span>
                                            }
                                            else
                                            {
                                                <a asp-area="SpecialistArea"
                                                   asp-controller="Profile"
                                                   asp-action="EducationsAndExperience"
                                                   class="btn btn-sm btn-primary">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                                <br>
                                                @if (Model.Educations?.Count() > 0)
                                                {
                                                    <h5 class="header">Educations</h5>
                                                    @foreach (var item in Model.Educations)
                                                    {
                                                        <span>
                                                            @item.StudyPlaceName  (@item.StartDate.ToShortDateString()@(item.EndDate.HasValue ? $" - {item.EndDate?.ToShortDateString()}" : ""))
                                                        </span>
                                                        <br>
                                                    }
                                                }
                                                @if (Model.Experiences?.Count() > 0)
                                                {
                                                    <br>
                                                    <h5 class="header">Experiences</h5>
                                                    @foreach (var item in Model.Experiences)
                                                    {
                                                        <span>
                                                            @item.CompanyName  (@item.StartDate.ToShortDateString()@(item.EndDate.HasValue ? $"- {item.EndDate?.ToShortDateString()}" : ""))
                                                        </span>
                                                        <br>
                                                    }
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <h5 class="header">About</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            @if (string.IsNullOrWhiteSpace(Model.About))
                                            {
                                                <a asp-area="SpecialistArea"
                                                   asp-controller="Profile"
                                                   asp-action="EditAbout"
                                                   class="btn btn-sm btn-primary">
                                                    <i class="fa fa-plus"></i> Add
                                                </a>
                                                <br>
                                                <span class="text-muted">
                                                    Tell us more about yourself so that customers know
                                                    you better. What orders are you interested in? What is the peculiarity
                                                    of your approach to work? This information will help the customer make a
                                                    choice.
                                                </span>
                                            }
                                            else
                                            {
                                                <a asp-area="SpecialistArea"
                                                   asp-controller="Profile"
                                                   asp-action="EditAbout"
                                                   class="btn btn-sm btn-primary">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                                <br>
                                                <span>
                                                    @Model.About
                                                </span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- About myself end -->
                        <!-- Region and addresses start -->
                        <div class="list-group my-5">
                            <div class="list-group-item">
                                <div class="w-100">
                                    <h5 class="header mb-1">Region and addresses</h5>
                                    <p>Where is it easy for you to work<p>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <h5 class="header">Whete can meet</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <a asp-area="SpecialistArea"
                                               asp-controller="Profile"
                                               asp-action="EditWhereCanMeet"
                                               class="btn btn-sm btn-primary">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                            @foreach (var point in Model.WhereCanMeetList)
                                            {
                                                <br>
                                                <span>@point.WhereCanMeet.Description</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <h5 class="header">Where can go</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <a asp-area="SpecialistArea"
                                               asp-controller="Profile"
                                               asp-action="EditWhereCanGo"
                                               class="btn btn-sm btn-primary">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                            @foreach (var point in Model.WhereCanGoList)
                                            {
                                                <br>
                                                <span>@point.WhereCanGo.Description</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <h5 class="header">City</h5>
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <a asp-area="SpecialistArea"
                                               asp-controller="Profile"
                                               asp-action="EditCity"
                                               class="btn btn-sm btn-primary">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                            <br>
                                            <span>@Model.City.Name</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Region and addresses end -->
                        <!-- Specialties start -->
                        <div class="list-group mt-5">
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <h5 class="header">Specialties</h5>
                                    </div>
                                    <div class="col-10">
                                        <a asp-area="SpecialistArea"
                                           asp-controller="Profile"
                                           asp-action="EditSubCategories"
                                           class="btn btn-sm btn-primary">
                                            <i class="fa fa-edit"></i> Add or remove
                                        </a>
                                        <br>
                                        @foreach (var category in Model.SpecialistSubCategories.GroupBy(m => m.SubCategory.Category))
                                        {
                                            <br>
                                            <h5 class="header">@category.Key.DescriptionRU</h5>
                                            @foreach (var subCategory in category)
                                            {
                                                <p class="service-name">@subCategory.SubCategory.DescriptionRU 
                                                    <a asp-area="SpecialistArea"
                                                       asp-controller="Profile"
                                                       asp-action="EditServices"
                                                       asp-route-subCategoryId="@subCategory.SubCategoryId"
                                                       class="btn btn-light">
                                                        Services and prices</a>
                                                    </p>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Specialties end -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
