@using System.Globalization
@model IEnumerable<Order>
@{
    var isRu = CultureInfo.CurrentCulture.Name == "ru-RU";
}

<div class="modal-body">
    <p class="header">@SharedLocalizer["chooseOrderDescription"]</p>
    <div class="jp_adp_form_wrapper mb-3">
        <select id="orderid">
            <option>@SharedLocalizer["chooseOrder"]</option>
            @foreach (var order in Model)
            {
                <option value="@order.Id">Order №@order.Id</option>
            }
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="jp_btn_default" data-dismiss="modal">@SharedLocalizer["close"]</button>
        <a href="#" id="selectBtn" class="jp_btn_default">@SharedLocalizer["select"]</a>
    </div>
</div>
