@model Careers.Models.Extra.MessagesAndCurrentUser

@{
    var spec = Model.Dialog.UserSpecialistMessage.Specialist;
    var client = Model.Dialog.UserSpecialistMessage.Client;
}
<div class="message-box-header">

    @if (Model.UserId == spec.AppUserId)
    {
        <h5>@spec.Name @spec.Surname</h5>
    }
    else
    {
        <h5>@client.Name @client.Surname</h5>
    }
    <div class="navbar navbar-expand-sm drop">

        <!-- Links -->
        <ul class="navbar-nav">

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="fa fa-link"></i>&nbsp;&nbsp;Copy this link</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-tag"></i>&nbsp;&nbsp;Report</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-flag"></i>&nbsp;&nbsp;Hide</a>

                </div>
            </li>
        </ul>
    </div>
</div>
<div style="height: 75vh;">

    <ul class="dashboard-conversation" style="height: 75vh;  overflow-y: scroll;">

        @foreach (var message in Model.Dialog.Messages)
        {
            <li class="conversation @(Model.UserId==message.Author? "in" : "out")">
                <div class="avater">
                    <img src="@(message.Author==spec.AppUserId? spec.ImageUrl:client.ImageUrl)"
                         error-src="" class="img-fluid" alt="">
                </div>
                <div class="message">
                    <span>@message.Text</span>

                    <div data-images class="row mt-1 px-2">
                        @foreach (var path in message.ImagePaths)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 px-1 mb-2 review-sm-image">
                                <a href="@path">
                                    <img src="@path" alt="image">
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <span class="send-time">@message.DateTime.ToShortTimeString()</span>
            </li>
        }

    </ul>
    <div class="image-container row py-2" style="right: 15px"></div>
</div>

@section Scripts {
    <script src="~/lib/magnific-popup/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-images]").magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1]
                },
                zoom: {
                    enabled: true,
                    duration: 300,
                    easing: 'ease-in-out'
                }
            });
        });
    </script>
}
