@using System.Security.Claims

@model Message

<li class="conversation @(Model.Author== @User.FindFirstValue(ClaimTypes.NameIdentifier)?"in":"out")">
    <div class="avater">
        <img src="@Model.AuthorImagePath" error-src="" class="img-fluid" alt="">
    </div>
    <div class="message">
        <textarea  class="message-text">@Model.Text</textarea>

        <div class="row mt-1 px-2">
            @foreach (var path in Model.ImagePaths)
            {
                <div data-image class="col-lg-3 col-md-4 col-sm-6 px-1 mb-2 review-sm-image">
                    <a href="@path">
                        <img src="@path" alt="image">
                    </a>
                </div>
            }
        </div>
    </div>
    <span class="send-time">@Model.DateTime.ToShortTimeString()</span>
</li>