@model Message

<li class="conversation in">
    <div class="avater">
        <img src="@Model.AuthorImagePath" error-src="" class="img-fluid" alt="">
    </div>
    <div class="message">
        <span>@Model.Text</span>

        <div class="row">
            @foreach (var path in Model.ImagePaths)
            {
                <div data-image class="col-lg-3 col-md-4 col-sm-6 px-1 mb-2 review-sm-image">
                    <a href="@path">
                        <img src="@path" alt="image content">
                    </a>
                </div>
            }
        </div>
    </div>
    <span class="send-time">@Model.DateTime.ToShortTimeString()</span>
</li>