@model OrderViewModel

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
        <div class="jp_job_post_main_wrapper">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="row">
                        <div class="col-4">
                            <img order-state="@Model.State" class="w-100 img-rounded">
                        </div>
                        <div class="col-8 jp_job_post_right_cont">
                            <h4>@Model.ServiceDescription</h4>
                            <a asp-area="" asp-controller="Order" asp-action="Order" asp-route-id="@Model.Id">Детали заказа</a>
                            <p>@Model.Created.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    @if (Model.SpecialistId.HasValue)
                    {
                        <div class="row">
                            <div class="col-4">
                                <img src="~/@Model.SpecialistImage" error-src="" class="w-100 img-rounded">
                            </div>
                            <div class="col-8 jp_job_post_right_cont">
                                <h4>@Model.SpecialistFullName</h4>
                                <a asp-area="" asp-controller="Specialist" asp-action="Specialist" asp-route-id="@Model.SpecialistId">Профиль</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mt-sm-0 mt-5 d-flex justify-content-center align-items-center">
                    <a href="#" class="jp_job_post_right_btn">
                        @SharedLocalizer["review"]
                    </a>
                </div>
            </div>
        </div>
        <div class="jp_job_post_keyword_wrapper">
            <ul>
                <li><i class="fa fa-tags"></i>Keywords :</li>
                <li><a href="#">ui designer,</a></li>
                <li><a href="#">developer,</a></li>
                <li><a href="#">senior</a></li>
                <li><a href="#">it company,</a></li>
                <li><a href="#">design,</a></li>
                <li><a href="#">call center</a></li>
            </ul>
        </div>
    </div>
</div>