@model Careers.ViewModels.Partial.ChatWithSpecViewModel

<div class="modal-body">
    <p class="header">@SharedLocalizer["haveOrder"]</p>
</div>
<div class="modal-footer">
    <button type="button" class="jp_btn_default" data-dismiss="modal">@SharedLocalizer["close"]</button>
    <a class="jp_btn_default"
       href="@Html.Raw(Url.Action("CreateDialog", "Specialist", new {area="", orderId = Model.OrderId, specialistId = Model.SpecialistId }))">
        @SharedLocalizer["order"]
    </a>
</div>



@*<a asp-controller="Specialist"
       asp-action="CreateDialog"
       asp-route-orderId="@Model."
       asp-route-specialistId="@Model.SpecialistId"
       class="jp_btn_default">
        Create order
    </a>*@