@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>@Model.Code.ToString() error</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="error_page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-center">
                <div class="error_page_cntnt">
                    <h2>
                        @foreach (var num in Model.Code.ToString())
                        {
                            <span>@num.ToString()</span>
                        }
                    </h2>
                    <h3>Sorry, This Page Isn't available :(</h3>
                    <p>@Model.Message <a asp-area="@Model.ReturnArea" asp-controller="@Model.ReturnController" asp-action="@Model.ReturnAction">Redirect.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>